body {
  font-family: sans-serif;
  padding: 2rem;
  padding-bottom: 2rem; /* extra space for fixed footer */
  opacity: 1;
  background-image:  radial-gradient(#737373 1.55px, transparent 1.55px), radial-gradient(#737373 1.55px, #18212c 1.55px);
  background-size: 62px 62px;
  background-position: 0 0,31px 31px;
}

#breadcrumbs a {
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 5px;
  cursor: pointer;
  color: #7fa5c0;
  text-decoration: none;
}

#breadcrumbs a:hover {
  text-decoration: underline;
}

#breadcrumbs {
  background-color: rgb(51, 71, 92);
  color: #7fa5c0;
  width: 95%;  
  padding: 5px 32px;  
}

#images-title {
  background-color: rgb(59, 81, 105);
  color: white;
  width: 95%;  
  padding: 10px 32px;   
  margin: 0px;
  display: none;
  
}
#folders, #images {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  color: #ccc;
}

.folder {
  width: 120px;
  text-align: center;
  cursor: pointer;
}

.folder div {
  font-size: 4rem;
}

img {
  max-width: 200px;
  border: 1px solid #ccc;
}

.image-container {
  padding: 4px;      
}

.image-container img {
  display: block;
  max-width: 400px;  
  max-height: 400px;
  width: 100%;      
  height: auto;
}

#lightbox {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

#lightbox-img {
  max-width: 90vw;   /* max 90% of viewport width */
  max-height: 80vh;  /* max 80% of viewport height */
  object-fit: contain;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0,0,0,0.8);
}


#lightbox button {
  position: absolute;
  background: rgba(255,255,255,0.8);
  border: none;
  padding: 10px 15px;
  font-size: 24px;
  cursor: pointer;
  user-select: none;
  border-radius: 4px;
}

#lightbox-close {
  top: 20px;
  right: 20px;
}

#lightbox-prev {
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
}

#lightbox-next {
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}
#lightbox {
  display: none;
}

#images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px; /* control spacing here */
}

#breadcrumbs,
#image-title {
  display: none;
}

#lightbox-meta {
  color: white;
  margin-top: 10px;
  text-align: center;
  font-size: 14px;
}
