header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 32px;
  background-color: #2c3e50;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main {
  padding-top: 144px; /* header (e.g. 64px) + breadcrumbs (32px) + title (48px) */
}


header h1 {
  display: flex;
  align-items: center;
  gap: 12px;
  margin: 0;
  font-size: 30px;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 12px;
}


  header button {
    background-color: #1d6fa5;
    font-weight: bold;
    border: none;
    color: #dfdfdf;
    padding: 8px 16px;
    font-size: 16px; 
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  header button:hover {
    background-color: #2980b9;
  }
  
  #breadcrumbs {
    position: fixed;
    top: 118px; /* adjust based on your header height */
    left: 0;
    width: 100%;
    z-index: 997;
  
    background-color: rgb(59, 81, 105);
    color: #7fa5c0;
    padding: 5px 32px;
  
    display: none; /* or flex/block if you want it visible initially */
    box-sizing: border-box;
  }
  
  
  #breadcrumbs a {
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
    color: #7fa5c0;
    text-decoration: none;
  }
  
  #breadcrumbs a:hover {
    text-decoration: underline;
  }

  header img.header-logo {
    width: 24px;
    height: 24px;
  }
